:root {
  --font-weight-500: 500;
  --font-weight-700: 700;
  --gray-50: hsl(0, 0%, 98%);
  --gray-500: hsl(0, 0%, 41%);
  --gray-950: hsl(0, 0%, 8%);
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 2rem;
}
