:root {
  --font-weight-500: 500;
  --font-weight-700: 700;
  --gray-50: hsl(0, 0%, 98%);
  --gray-500: hsl(0, 0%, 41%);
  --gray-950: hsl(0, 0%, 8%);
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}

p {
  font-size: 18px;
  color: var(--gray-500);
}

.display-none {
  display: none;
}

header {
  display: flex;
  padding: 2rem;
  color: var(--gray-500);
}

nav {
  display: flex;
  width: 100%;
}

.logo-box {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

.list-nav {
  display: flex;
  gap: 2rem;
}

.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown:active {
  font-weight: var(--font-weight-700);
}

.dropdown > span {
  margin-left: 5px;
}

.dropdown-content {
  background-color: white;
  position: absolute;
  box-shadow: 1px 11px 20px -9px var(--gray-500);
  padding: 25px;
  border-radius: 15px;
}

.dropdown-content > ul {
  padding: 0;
  margin-top: 5px;
}

.dropdown-content > ul > li {
  margin-bottom: 15px;
}

.dropdown-content > ul > li > a {
  text-decoration: none;
  cursor: pointer;
  color: var(--gray-500);
}

.dropdown-content ul > li > a:hover {
  text-decoration: underline;
}

.dropdown-content > ul > li > a > span {
  margin-right: 10px;
}

#features-dropdown-content {
  top: 5.25rem;
  left: 100px;
}

#company-dropdown-content {
  top: 5.25rem;
}

.nav-links {
  color: var(--gray-500);
  text-decoration: none;
}

.nav-links:active {
  font-weight: var(--font-weight-700);
}

.auth-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.auth-section > a {
  color: var(--gray-500);
  text-decoration: none;
  cursor: pointer;
}

.auth-section > a:active {
  font-weight: var(--font-weight-700);
}

.register {
  outline: 1px solid var(--gray-500);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.register:active {
  border: 1px solid var(--gray-950);
}

/* Main content desktop */
@media (min-width: 768px) {
  .main-content-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
  }

  main {
    padding: 7rem;
  }

  h1 {
    font-size: 6rem;
  }

  .main-content-box {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
  }

  .clients-box {
    display: flex;
    gap: 2rem;
    padding-top: 9.5rem;
  }

  .image-main-box {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 4;
  }

  .image-desktop-hero {
    width: 32rem;
  }

  .link-main-box {
    margin-top: 100px;
  }

  .image-mobile-hero {
    display: none;
  }

  .main-p {
    width: 30rem;
  }
}

/* Main content mobile */
@media (max-width: 768px) {

  .main-content-container{
    display: flex;
    flex-direction: column-reverse;
  }

  .title-box{
    margin-top: 3rem;
  }
  
  h1{
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }

  .main-p{
    padding: 5px;
  }


  p{
    text-align: center;
  }

  .link-main-box{
    display: flex;
    justify-content: center;
  }

  .clients-box{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
  }

  .image-mobile-hero{
    width: 100%;
  }

  .image-desktop-hero{
    display: none;
  }
}

.link-main {
  background-color: var(--gray-950);
  text-decoration: none;
  color: var(--gray-50);
  font-weight: var(--font-weight-700);
  padding: 20px 40px 20px 40px;
  border-radius: 15px;
}

.link-main:active {
  border: 2px solid var(--gray-950);
  background: none;
  color: var(--gray-950);
}

/* Sidebar */
@media (min-width: 768px) {
  #menu-sidebar {
    display: none;
  }

  aside {
    display: none;
  }
}

@media (max-width: 768px) {
  aside {
    background-color: var(--gray-50);
    position: fixed;
    height: 100%;
    width: 65%;
    right: 0;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }

  aside.active {
    transform: translateX(0);
  }

  #overlay {
    background-color: rgba(0, 0, 0, 0.488);
    inset: 0;
    position: fixed;
  }

  .close-menu-box {
    padding: 1.5rem;
    display: flex;
    justify-content: end;
  }

  header {
    padding: 1.5rem 1rem 0 1rem;
  }

  .logo-box {
    width: 100%;
  }

  #menu-sidebar {
    border: none;
    background: white;
  }

  nav {
    display: none;
  }

  .list-nav {
    padding-left: 2rem;
    flex-direction: column;
    margin: 0;
  }

  .list-nav > li > a {
    text-decoration: none;
    color: var(--gray-950);
  }

  .list-nav > li > span {
    margin-left: 10px;
  }

  .auth-section {
    display: none;
  }

  .sidebar-auth {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .register {
    padding: 0.7rem 4rem 0.7rem 4rem;
    margin-top: 15px;
    border: 1px solid var(--gray-950);
    border-radius: 15px;
  }

  .sidebar-auth > a {
    text-decoration: none;
    color: var(--gray-950);
  }

  #dropdown-sidebar-content-features {
    position: relative;
    left: 10px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: 0.3s ease;
  }

  #dropdown-sidebar-content-features.open {
    max-height: 500px;
    opacity: 1;
    margin-top: 15px;
  }

  #dropdown-sidebar-content-features > ul {
    padding: 0;
    margin: 0;
  }

  #dropdown-sidebar-content-features > ul > li {
    margin-bottom: 15px;
  }

  #company-dropdown-sidebar-content {
    position: relative;
    left: 10px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: 0.3s ease;
  }

  #company-dropdown-sidebar-content > ul {
    padding: 0;
    margin: 0;
  }

  #company-dropdown-sidebar-content > ul > li {
    margin-bottom: 15px;
  }

  #company-dropdown-sidebar-content.open {
    max-height: fit-content;
    opacity: 1;
    margin-top: 15px;
  }
}
